*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 
 #home,
.products,
.reports,
.footer
 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  
}

.slider{
  
  display: flex;
  justify-content: center;
  align-items: center;

}
.image{
  width: 1270px;
  height: 440px;
  border-radius: 10px;
}
.right-arrow{
  position: absolute;
  top: 50%;
  right: 270px;
  font-size: 2rem;
  color: #414757;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transform: translate(-50%,-50%);
  opacity: .1;
  display: none;
}
.left-arrow{
  position:absolute;
  top: 50%;
  left: 270px;
  font-size: 2rem;
  color: #414757;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transform: translate(-50%,-50%);
  opacity: .1;
  display: none;
}
@media screen and (max-width: 576px) {
  .right-arrow{
    opacity:.6;
    position: absolute;
    top: 35%;
    right: 80px;
  }
  .left-arrow{
    opacity: .4;
    position: absolute;
    top: 35%;
    left: 50px;
  }
  .image{
    width: 100%;
    height: 250px
  }

 
}